.hero-section {
    padding: 180px 0 93px 0;
    background-image: url(../images/image\ 3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 125vh;
    background-position: center bottom;
}
.hero {
    display: flex;
    justify-content: space-between;
}
.hero > span{
    width: 399px;
    height: 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #E0E0E0;
}
.hero__form {
    width: 449px;
    background-color: #3A3A3A80;
    border-radius: 10px;
    padding: 25px;
}
.hero__top-content-wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
}
.hero__form-title {
    @include textStyle($MB:8px, $FS:30px, $FW:700, $CLR:white, $LH:36.31px, $CASE:capitalize);
}
.hero__form-description {
    @include textStyle($MB:0px, $FS:16px, $FW:400, $CLR:white, $LH:19.36px, $CASE:capitalize);
}
.hero__form-input-wrapper {
    @include display($items:none, $space:none, $gap:15px);
    flex-direction: column;
    margin-top: 25px;
}
.hero__label {
    @include display($items:none, $space:none, $gap:8px);
    flex-direction: column;
}
.hero__label > .hero__input{
    background-image: url(../../images/form-input-bg.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 15px center;
}
.hero__label:nth-child(3) > .hero__input{
    background-image: url(../../images/form-input-bg2.svg);
}
.hero__label > span {
    @include textStyle($MB:0px, $FS:15px, $FW:400, $CLR:white, $LH:18.15px, $CASE:capitalize);
}
.hero__input {
    padding: 18px 5px 18px 47px;
    outline: none;
    border-radius: 12px;
    border: 1px solid transparent;
    &:focus{
        box-shadow: 0 0 5px 0 $orange-clr;
    }
}
.hero__content {
    width: 576px;
    margin-top: 43px;
}
.hero__content > span{
    @include textStyle($MB:0px, $FS:14px, $FW:500, $CLR:white, $LH:16.94px, $CASE:capitalize);
}
.hero__title {
    @include textStyle($MB:0px, $FS:56px, $FW:700, $CLR:white, $LH:67.77px, $CASE:capitalize);
}
.hero__text {
    @include textStyle($MB:0px, $FS:20px, $FW:400, $CLR:white, $LH:24.2px, $CASE:capitalize);
}
.hero__radio-wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E0E0;
} 
.hero__radio-wrapper > span{
    @include textStyle($MB:8px, $FS:15px, $FW:400, $CLR:white, $LH:18.15px, $CASE:capitalize);
    display: inline-block;
}
.hero__radio-input-wrapper {
    @include display($items:center, $space:space-between, $gap:0px);
}   
.radio__label {
    padding: 15px;
    border-radius: 15px;
    width: 162px;
    background-color: #fff; 
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.radio__circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #D3D3D3;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        inset: 3.5px;
        border-radius: 50%;
        background-color: transparent;
    }
}
.radio__check-input:checked ~ .radio__circle::before{
    background-color: $orange-clr;
}
.hero__btn{
    @include buttonStyles($BTN_W:100%, $BTN_PY:17px, $BTN_BG_CLR:$orange-clr, $BTN_BR_RADIUS:8px, $BTN_Border_CLR:transparent, $BTN_FS:17px, $BTN_FW:500, $BTN_LH:20.57px, $BTN_CLR:$white-clr, $BTN_CASE:none);
     &:hover{
        @include buttonStyles($BTN_W:100%, $BTN_PY:17px, $BTN_BG_CLR:transparent, $BTN_BR_RADIUS:8px, $BTN_Border_CLR:$orange-clr, $BTN_FS:17px, $BTN_FW:500, $BTN_LH:20.57px, $BTN_CLR:$white-clr, $BTN_CASE:none);
        box-shadow: 0 0 5px 0 $orange-clr;
     }
     &:active{
        @include buttonStyles($BTN_W:100%, $BTN_PY:17px, $BTN_BG_CLR:$orange-clr, $BTN_BR_RADIUS:8px, $BTN_Border_CLR:transparent, $BTN_FS:17px, $BTN_FW:500, $BTN_LH:20.57px, $BTN_CLR:$white-clr, $BTN_CASE:none);
     }
}