.result-section {
    background-image: url(../../images/Background-img.png);
    background-size:100% 100%;
    margin-bottom: 100px;
}
.result { 
    @include display($items:center, $space:space-between, $gap:0px);
}   
.result__content-wrapper { 
    width: 350px;
    padding-top: 75px;
    padding-bottom: 75px;
    display: inline-block;
    flex-wrap: nowrap;
} 
.result__title { 
    @include textStyle($MB:0px, $FS:38px, $FW:600, $CLR:$white-clr, $LH:40px, $CASE:none);
}
.result__text {
    @include textStyle($MB:0px, $FS:16px, $FW:400, $CLR:$white-clr, $LH:19.36px, $CASE:none);
}
.result__list {
    @include display($items:center, $space:space-between, $gap:55px);
}
.result__item > span{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #D9D9D9; 
    margin: 15px 27px;
}
.result__subtitle { 
    @include textStyle($MB:0px, $FS:50px, $FW:600, $CLR:$white-clr, $LH:60.51px, $CASE:none);
    text-align: center;
}
.result__subtext {
    @include textStyle($MB:0px, $FS:16px, $FW:400, $CLR:$white-clr, $LH:19.36px, $CASE:none);
    text-align: center;
}